<a routerLinkActive="active" href="#" class="list-group-item clearfix" [routerLink]="[contact.id]">
    <div class="pull-left">
        <h4 class="list-group-item-heading"> {{ contact?.name }} </h4>
        <p class="list-group-item-text"> {{ contact?.email }} </p>
    </div>
    <span class="pull-right">
        <img [src]="'../assets/images/' + contact?.imageUrl" class="img-responsive" *ngIf="contact.imageUrl">
        <!-- alt="Image of Contact {{ contact.id }}" // Not compatible with MOCKCONTACTS.ts -->
    </span>
</a>